<header class="sheet-header">
  <img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}"/>
  <div class="header-fields">
    <div class="gear-stat field-name">
      <label>Name</label>
      <input class="charname" name="name" type="text" value="{{item.name}}" placeholder="Bane Name"/>
    </div>
    <div class="item-stats flexrow gear-stats">
      <div class="gear-stat">
        <label>Power Level</label>
        <input type="number" min="0" step="1" name="system.powerLevel" value="{{system.powerLevel}}" data-dtype="Number"/>
      </div>
      <div class="gear-stat">
        <label>Invocation Time</label>
        <input type="text" name="system.invocationTime" value="{{system.invocationTime}}"/>
      </div>
    </div>
    <div class="item-stats flexrow gear-stats bane-duration-row">
      <div class="gear-stat">
        <label>Duration</label>
        <input type="text" name="system.duration" value="{{system.duration}}"/>
      </div>
      <div class="gear-stat" title="The duration once the target fails three resist rolls (e.g. the Fail x 3 clause).">
        <label>Fail Duration</label>
        <input type="text" name="system.failDuration" value="{{system.failDuration}}"/>
      </div>
    </div>
  </div>
</header>

{{> "templates/generic/tab-navigation.hbs" tabs=tabs}}

<section class="sheet-body">
  <div class="tab details {{tabs.details.cssClass}}" data-group="primary" data-tab="details">

    {{#if system.tags.length}}
    <div class="bane-tags">
      {{#each system.tags as |tag|}}<span class="bane-tag">{{tag}}</span>{{/each}}
    </div>
    {{/if}}

    <div class="bane-section-head">
      <h3 class="bane-heading">Attacks</h3>
      {{#if editable}}<a class="bane-row-add" data-action="attackAdd" title="Add Attack"><i class="fas fa-plus"></i> Add Attack</a>{{/if}}
    </div>
    {{#if editable}}
    <ol class="bane-attacks-edit">
      <li class="bane-attack-erow bane-attack-head">
        <span>Attacking Attribute</span>
        <span>Defense</span>
        <span></span>
      </li>
      {{#each attacksRaw as |atk|}}
      <li class="bane-attack-erow" data-index="{{atk.index}}">
        <select name="system.attacks.{{atk.index}}.attackingAttribute">
          {{selectOptions ../attackAttributeOptions selected=atk.attackingAttribute}}
        </select>
        <select name="system.attacks.{{atk.index}}.defense">
          {{selectOptions ../defenseOptions selected=atk.defense}}
        </select>
        <a class="bane-row-del" data-action="attackDelete" title="Remove"><i class="fas fa-trash"></i></a>
      </li>
      {{else}}
      <li class="bane-empty">No attacks listed.</li>
      {{/each}}
    </ol>
    {{else}}
    <ul class="bane-read-list">
      {{#each attacksReadable as |atk|}}
      <li>{{atk}}</li>
      {{else}}
      <li class="bane-empty">No attacks listed.</li>
      {{/each}}
    </ul>
    {{/if}}

    {{#if editable}}
    <h3 class="bane-heading">Description</h3>
    <prose-mirror name="system.description" value="{{system.description}}" document-uuid="{{document.uuid}}" toggled>
      {{{enrichedDescription}}}
    </prose-mirror>

    <h3 class="bane-heading">Special</h3>
    <prose-mirror name="system.special" value="{{system.special}}" document-uuid="{{document.uuid}}" toggled>
      {{{enrichedSpecial}}}
    </prose-mirror>
    {{else}}
    {{#if system.description}}
    <h3 class="bane-heading">Description</h3>
    <div class="bane-read-doc">{{{enrichedDescription}}}</div>
    {{/if}}
    {{#if system.special}}
    <h3 class="bane-heading">Special</h3>
    <div class="bane-read-text">{{{enrichedSpecial}}}</div>
    {{/if}}
    {{/if}}
  </div>

  <div class="tab powerEffects {{tabs.powerEffects.cssClass}}" data-group="primary" data-tab="powerEffects">
    {{#if editable}}
    <h3 class="bane-heading">Effect</h3>
    <prose-mirror name="system.effect" value="{{system.effect}}" document-uuid="{{document.uuid}}" toggled>
      {{{enrichedEffect}}}
    </prose-mirror>
    {{else if system.effect}}
    <h3 class="bane-heading">Effect</h3>
    <div class="bane-read-text">{{{enrichedEffect}}}</div>
    {{/if}}

    <div class="bane-section-head">
      <h3 class="bane-heading">Effects by Power Level</h3>
      {{#if editable}}<a class="bane-row-add" data-action="powerEffectAdd" title="Add Power Level"><i class="fas fa-plus"></i> Add Level</a>{{/if}}
    </div>
    {{#if editable}}
    <ol class="bane-power-edit">
      {{#each powerEffectsRaw as |pe|}}
      <li class="bane-power-erow" data-index="{{pe.index}}">
        <div class="bane-pl-field">
          <label>PL</label>
          <input type="number" min="0" step="1" name="system.powerEffects.{{pe.index}}.powerLevel" value="{{pe.powerLevel}}" data-dtype="Number"/>
        </div>
        <textarea class="bane-pl-text" name="system.powerEffects.{{pe.index}}.effect" rows="2">{{pe.effect}}</textarea>
        <a class="bane-row-del" data-action="powerEffectDelete" title="Remove"><i class="fas fa-trash"></i></a>
      </li>
      {{else}}
      <li class="bane-empty">No power-level breakdown.</li>
      {{/each}}
    </ol>
    {{else}}
    <ol class="bane-pl-list">
      {{#each powerEffectRows as |pe|}}
      <li class="bane-pl-row">
        <span class="bane-pl-badge">PL {{pe.powerLevel}}</span>
        <span class="bane-pl-effect">{{{pe.enriched}}}</span>
      </li>
      {{else}}
      <li class="bane-empty">No power-level breakdown.</li>
      {{/each}}
    </ol>
    {{/if}}
  </div>

  <div class="tab effects {{tabs.effects.cssClass}}" data-group="primary" data-tab="effects">
    {{> "systems/tomucatos-open-legend-rpg-system/templates/item/parts/item-effects.hbs" effectsHint="These Active Effects are applied to the target when this bane is dragged onto a token, scaled to the invoked power level (each change row activates at its PL)."}}
  </div>
</section>
